html, body {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
      -ms-user-select: none !important;
          user-select: none !important;
}

.forest {
  display: grid;
  position: relative;
  height: 100vh;
  display: flex;
  background-color: rgb(249, 249, 195);
  overflow: hidden;
  background-image: url("./images/forest.jpg");
  z-index: 1;
  cursor: none;
}
.forest_parrot2 {
  position: absolute;
  width: 100px;
  height: 100px;
  display: grid;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-animation: fly2 0.6s infinite;
          animation: fly2 0.6s infinite;
  z-index: 6;
}
.forest_parrot2 #bang {
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-animation: bang 0.4s infinite;
          animation: bang 0.4s infinite;
}
.forest_parrot2_dead {
  position: absolute;
  width: 100px;
  height: 100px;
  display: grid;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 6;
  transform: rotate(-90deg);
  background-image: url("./images/p3.png");
}
.forest_parrot2_dead #bang {
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-animation: bang 0.4s infinite;
          animation: bang 0.4s infinite;
}
.forest_parrot_effect {
  position: absolute;
  width: 100px;
  height: 100px;
  display: grid;
  justify-content: center;
  align-items: center;
  background-image: url("./images/parrot7.png");
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-animation: fly1 0.6s infinite;
          animation: fly1 0.6s infinite;
  z-index: 6 !important;
}
.forest_parrot_effect #bang {
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-animation: bang 0.4s infinite;
          animation: bang 0.4s infinite;
}
.forest_parrot_effect_dead {
  position: absolute;
  width: 100px;
  height: 100px;
  display: grid;
  justify-content: center;
  align-items: center;
  background-image: url("./images/parrot7.png");
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(70deg);
  z-index: 6;
}
.forest_parrot_effect_dead #bang {
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-animation: bang 0.4s infinite;
          animation: bang 0.4s infinite;
}
.forest_branch {
  position: absolute;
  right: 0;
  top: 50px;
  width: 450px;
  height: 240px;
}
.forest_branch img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.forest_tree {
  position: absolute;
  width: 250px;
  height: 67vh;
  bottom: 0;
  left: 0;
  z-index: 5 !important;
}
.forest_tree img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 7 !important;
}
.forest_tree1 {
  position: absolute;
  width: 400px;
  height: 95vh;
  bottom: 0;
  left: 110px;
  z-index: 3 !important;
}
.forest_tree1 img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.forest_tree2 {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  height: 460px;
  width: 400px;
}
.forest_tree2 img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.forest_stone1 {
  position: absolute;
  width: 350px;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.forest_stone1 img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.forest_ground {
  position: absolute;
  z-index: 2;
  width: 100vw;
  left: 0;
  top: -80px;
}
.forest_ground img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.forest_dark {
  position: absolute;
  z-index: 1;
  width: 40vw;
  left: 0;
  bottom: 1vh;
}
.forest_dark img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.forest_line {
  position: absolute;
  z-index: 7;
  height: 300px;
  left: 0;
  top: 0;
}
.forest_line img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.forest .magazine {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 200px;
  width: 400px;
  z-index: 8;
  display: grid;
  background-color: rgba(0, 0, 0, 0.4);
  grid-template-columns: repeat(10, 1fr);
}
.forest .magazine_bullet {
  border: 2px solid black;
  background-image: url("./images/bullet.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100px;
}

@-webkit-keyframes move {
  from {
    left: 200px;
    top: 400px;
  }
  to {
    left: 1650px;
    top: 600px;
  }
}

@keyframes move {
  from {
    left: 200px;
    top: 400px;
  }
  to {
    left: 1650px;
    top: 600px;
  }
}
@-webkit-keyframes fly1 {
  12% {
    background-image: url("./images/parrot1.png");
  }
  25% {
    background-image: url("./images/parrot2.png");
  }
  37% {
    background-image: url("./images/parrot3.png");
  }
  50% {
    background-image: url("./images/parrot4.png");
  }
  62% {
    background-image: url("./images/parrot5.png");
  }
  75% {
    background-image: url("./images/parrot6.png");
  }
  87% {
    background-image: url("./images/parrot7.png");
  }
  100% {
    background-image: url("./images/parrot8.png");
  }
}
@keyframes fly1 {
  12% {
    background-image: url("./images/parrot1.png");
  }
  25% {
    background-image: url("./images/parrot2.png");
  }
  37% {
    background-image: url("./images/parrot3.png");
  }
  50% {
    background-image: url("./images/parrot4.png");
  }
  62% {
    background-image: url("./images/parrot5.png");
  }
  75% {
    background-image: url("./images/parrot6.png");
  }
  87% {
    background-image: url("./images/parrot7.png");
  }
  100% {
    background-image: url("./images/parrot8.png");
  }
}
@-webkit-keyframes fly2 {
  14% {
    background-image: url("./images/p1.png");
  }
  28% {
    background-image: url("./images/p2.png");
  }
  42% {
    background-image: url("./images/p3.png");
  }
  56% {
    background-image: url("./images/p4.png");
  }
  70% {
    background-image: url("./images/p5.png");
  }
  84% {
    background-image: url("./images/p6.png");
  }
  100% {
    background-image: url("./images/p7.png");
  }
}
@keyframes fly2 {
  14% {
    background-image: url("./images/p1.png");
  }
  28% {
    background-image: url("./images/p2.png");
  }
  42% {
    background-image: url("./images/p3.png");
  }
  56% {
    background-image: url("./images/p4.png");
  }
  70% {
    background-image: url("./images/p5.png");
  }
  84% {
    background-image: url("./images/p6.png");
  }
  100% {
    background-image: url("./images/p7.png");
  }
}
@-webkit-keyframes bang {
  0% {
    background-image: url("./images/bang1.png");
  }
  25% {
    background-image: url("./images/bang2.png");
  }
  50% {
    background-image: url("./images/bang3.png");
  }
  100% {
    background-image: url("./images/bang4.png");
  }
}
@keyframes bang {
  0% {
    background-image: url("./images/bang1.png");
  }
  25% {
    background-image: url("./images/bang2.png");
  }
  50% {
    background-image: url("./images/bang3.png");
  }
  100% {
    background-image: url("./images/bang4.png");
  }
}/*# sourceMappingURL=forest.css.map */