html,body{
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
}
*{
    box-sizing: border-box;
    user-select: none;
}

.forest{
    display: grid;
    position: relative;
    height: 100vh;
    border:2px solid green;
    display: flex;
    background-color: rgb(249, 249, 195);
    overflow: hidden;
    background-image: url("./images/forest.jpg");
    z-index: 1;
    &_test{
        //border:2px solid black;
        position: absolute;
        width: 100px;
        height: 100px;
        top:400px;
        left:600px;
        display: grid;
        justify-content: center;
        align-items: center;
        background-image: url("./images/parrot7.png");
        background-repeat: no-repeat;
        background-size: contain;
        animation: fly1 0.6s infinite, move 7.2s infinite;
        z-index: 6;
    }
    &_parrot2{
        //border:2px solid black;
        position: absolute;
        width: 100px;
        height: 100px;
        top:200px;
        right:400px;
        display: grid;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        background-size: contain;
        animation: fly2 0.6s infinite, move2 7.2s infinite;
        z-index: 6;
    }
    &_parrot_effect{
        //border:2px solid black;
        position: absolute;
        width: 100px;
        height: 100px;
        display: grid;
        justify-content: center;
        align-items: center;
        background-image: url("./images/parrot7.png");
        background-repeat: no-repeat;
        background-size: contain;
        animation: fly1 0.6s infinite;
        z-index: 6;
    }
    &_branch{
        position: absolute;
        right: 0;
        top: 50px;
        width: 450px;
        height: 240px;
        //border: 2px solid red;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &_tree{
        position: absolute;
        width: 250px;
        height: 67vh;
        //border: 2px solid red;
        bottom: 0;
        left: 0;
        z-index: 7;
        img{
            width: 100%;
            object-fit: cover;
        }
    }
    &_tree1{
        position: absolute;
        width: 400px;
        height: 95vh;
        //border: 2px solid red;
        bottom: 0;
        left: 110px;
        img{
            width: 100%;
            object-fit: cover;
        }
        z-index: 7;
    }
    &_tree2{
        position: absolute;
        //border: 2px solid red;
        right: 0;
        bottom: 0;
        z-index: 1;
        height: 460px;
        width: 400px;
        img{
            width: 100%;
            object-fit: cover;
        }
    }
    &_stone1{
        position: absolute;
        width: 350px;
        //border: 2px solid black;
        //border: 2px solid red;
        right: 0;
        bottom: 0;
        z-index: 2;
        img{
            width: 100%;
            object-fit: cover;
        }
    }
    &_ground{
        position: absolute;
        //border: 2px solid black;
        //border: 2px solid red;
        z-index: 2;
        width: 100vw;
        left: 0;
        top: -80px;
        img{
            width: 100%;
            object-fit: cover;
        }
    }
    &_dark{
        position: absolute;
        //border: 2px solid black;
        //border: 2px solid red;
        z-index: 1;
        width: 40vw;
        left: 0;
        bottom: 1vh;
        img{
            width: 100%;
            object-fit: cover;
        }
    }
    &_line{
        position: absolute;
        z-index: 7;
        height: 300px;
        left: 0;
        top:0;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}


@keyframes move {
from{
    left:200px;
    top:400px;
}
to{
    left:1650px;
    top:600px;
}
}

@keyframes fly1 {
    12%{background-image: url("./images/parrot1.png");}
    25%{background-image: url("./images/parrot2.png");}
    37%{background-image: url("./images/parrot3.png");}
    50%{background-image: url("./images/parrot4.png");}
    62%{background-image: url("./images/parrot5.png");}
    75%{background-image: url("./images/parrot6.png");}
    87%{background-image: url("./images/parrot7.png");}
    100%{background-image: url("./images/parrot8.png");}
}

@keyframes fly2 {
    14%{background-image: url("./images/p1.png");}
    28%{background-image: url("./images/p2.png");}
    42%{background-image: url("./images/p3.png");}
    56%{background-image: url("./images/p4.png");}
    70%{background-image: url("./images/p5.png");}
    84%{background-image: url("./images/p6.png");}
    100%{background-image: url("./images/p7.png");}
}

@keyframes move2 {
    from{
        right:-50px;
        top:200px;
    }
    to{
        right:1450px;
        top:400px;
    }
    }