html,body{
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
}
*{
    box-sizing: border-box;
    user-select: none !important;
}

.forest{
    display: grid;
    position: relative;
    height: 100vh;
    //border:2px solid green;
    display: flex;
    background-color: rgb(249, 249, 195);
    overflow: hidden;
    background-image: url("./images/forest.jpg");
    z-index: 1;
    cursor: none;
    &_the_end{
        position: fixed;
        top:0; left: 0; right: 0; bottom: 0;
        background-color: rgba($color: #000000, $alpha: 0.8);
        z-index: 9999 !important;
        display: grid;
        justify-content: center;
        align-items: center;
        cursor:auto;
        &_kernel{
            display: flex;
            &_image{
                //border:3px solid white;
                height: 500px;
                img{
                    height: 100%;
                    object-fit: cover;
                }
            }
            &_feedback{
                //border:3px solid salmon;
                width: 300px;
                display: grid;
                div{
                    display: grid;
                    justify-content: center;
                    align-items: center;
                    font-size: 35px;
                    color: white;
                }
                #ammo{
                    background-image: linear-gradient(red, turquoise);
                }
                #score{
                    background-image: linear-gradient(turquoise, purple);
                }
                #mock{
                    background-image: linear-gradient(purple, yellow);
                    font-size: 30px;
                    text-align: center;
                }
                #restart{
                    background-image: linear-gradient(yellow, green);
                    cursor: pointer;
                }
            }

        }

    }
    &_parrot2{
        //border:2px solid black;
        position: absolute;
        width: 100px;
        height: 100px;
        display: grid;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        background-size: contain;
        animation: fly2 0.6s infinite;
        z-index: 6;
        #bang{
            background-repeat: no-repeat;
            background-size: cover;
            animation: bang 0.4s infinite;
        }
    }
    &_parrot2_dead{
        position: absolute;
        width: 100px;
        height: 100px;
        display: grid;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 6;
        background-image: url("./images/p3.png");
        #bang{
            background-repeat: no-repeat;
            background-size: cover;
            animation: bang 0.4s infinite;
        }

    }
    &_parrot_effect{
        position: absolute;
        width: 100px;
        height: 100px;
        display: grid;
        justify-content: center;
        align-items: center;
        background-image: url("./images/parrot7.png");
        background-repeat: no-repeat;
        background-size: contain;
        animation: fly1 0.6s infinite;
        z-index: 6 !important;
        #bang{
            background-repeat: no-repeat;
            background-size: cover;
            animation: bang 0.4s infinite;
        }
    }

    &_parrot_effect_dead{
        position: absolute;
        width: 100px;
        height: 100px;
        display: grid;
        justify-content: center;
        align-items: center;
        background-image: url("./images/parrot7.png");
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 6;
        #bang{
            background-repeat: no-repeat;
            background-size: cover;
            animation: bang 0.4s infinite;
        }
    }

    &_parrot3{
        position: absolute;
        width: 100px;
        height: 100px;
        display: grid;
        justify-content: center;
        align-items: center;
        background-image: url("./images/parrot7.png");
        background-repeat: no-repeat;
        background-size: contain;
        animation: fly3 0.6s infinite;
        z-index: 6 !important;
        #bang{
            background-repeat: no-repeat;
            background-size: cover;
            animation: bang 0.4s infinite;
        }
    }

    &_parrot3_dead{
        position: absolute;
        width: 100px;
        height: 100px;
        display: grid;
        justify-content: center;
        align-items: center;
        background-image: url("./images/parrot77.png");
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 6;
        #bang{
            background-repeat: no-repeat;
            background-size: cover;
            animation: bang 0.4s infinite;
        }
    }

    &_serious{
        position: absolute;
        width: 100px;
        height: 100px;
        display: grid;
        justify-content: center;
        align-items: center;
        background-image: url("./images/serious7.png");
        background-repeat: no-repeat;
        background-size: contain;
        animation: fly_serious 0.6s infinite;
        z-index: 6 !important;
        #bang{
            background-repeat: no-repeat;
            background-size: cover;
            animation: bang 0.4s infinite;
        }
    }

    &_serious_dead{
        position: absolute;
        width: 100px;
        height: 100px;
        display: grid;
        justify-content: center;
        align-items: center;
        background-image: url("./images/serious7.png");
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 6;
        #bang{
            background-repeat: no-repeat;
            background-size: cover;
            animation: bang 0.4s infinite;
        }
    }

    &_raven{
        position: absolute;
        width: 100px;
        height: 100px;
        display: grid;
        justify-content: center;
        align-items: center;
        background-image: url("./images/ravon6.png");
        background-repeat: no-repeat;
        background-size: contain;
        animation: fly_raven 0.6s infinite;
        z-index: 6 !important;
        #bang{
            background-repeat: no-repeat;
            background-size: cover;
            animation: bang 0.4s infinite;
        }
    }

    &_raven_dead{
        position: absolute;
        width: 100px;
        height: 100px;
        display: grid;
        justify-content: center;
        align-items: center;
        background-image: url("./images/ravon6.png");
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 6;
        #bang{
            background-repeat: no-repeat;
            background-size: cover;
            animation: bang 0.4s infinite;
        }
    }

    &_red{
        position: absolute;
        width: 100px;
        height: 100px;
        display: grid;
        justify-content: center;
        align-items: center;
        background-image: url("./images/red6.png");
        background-repeat: no-repeat;
        background-size: contain;
        animation: fly_red 0.6s infinite;
        z-index: 6 !important;
        #bang{
            background-repeat: no-repeat;
            background-size: cover;
            animation: bang 0.4s infinite;
        }
    }

    &_red_dead{
        position: absolute;
        width: 100px;
        height: 100px;
        display: grid;
        justify-content: center;
        align-items: center;
        background-image: url("./images/red6.png");
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 6;
        #bang{
            background-repeat: no-repeat;
            background-size: cover;
            animation: bang 0.4s infinite;
        }
    }



    &_branch{
        position: absolute;
        right: 0;
        top: 50px;
        width: 450px;
        height: 240px;
        //border: 2px solid red;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &_tree1{
        position: absolute;
        width: 400px;
        height: 95vh;
        //border: 2px solid red;
        bottom: 0;
        left: 110px;
        z-index: 3 !important;
        img{
            width: 100%;
            object-fit: cover;
        }
    }
    &_tree2{
        position: absolute;
        //border: 2px solid red;
        right: 0;
        bottom: 0;
        z-index: 1;
        height: 460px;
        width: 400px;
        img{
            width: 100%;
            object-fit: cover;
        }
    }
    &_stone1{
        position: absolute;
        width: 350px;
        //border: 2px solid black;
        //border: 2px solid red;
        right: 0;
        bottom: 0;
        z-index: 2;
        img{
            width: 100%;
            object-fit: cover;
        }
    }
    &_ground{
        position: absolute;
        //border: 2px solid black;
        //border: 2px solid red;
        z-index: 2;
        width: 100vw;
        left: 0;
        top: -80px;
        img{
            width: 100%;
            object-fit: cover;
        }
    }
    &_dark{
        position: absolute;
        //border: 2px solid black;
        //border: 2px solid red;
        z-index: 1;
        width: 40vw;
        left: 0;
        bottom: 1vh;
        img{
            width: 100%;
            object-fit: cover;
        }
    }
    &_line{
        position: absolute;
        z-index: 7;
        height: 300px;
        left: 0;
        top:0;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .magazine{
        //border: 2px solid red;
        position: absolute;
        right: 0;
        bottom: 0;
        height: 200px;
        width: 400px;
        z-index: 5;
        display: grid;
        background-color: rgba($color: #000000, $alpha: 0.4);
        grid-template-columns: repeat(10, 1fr);
        &_bullet{
            border: 2px solid black;
            background-image: url("./images/bullet.png");
            background-repeat: no-repeat;
            background-size:cover;
            background-position: center;
            height: 100px;
        }
    }
}


@keyframes move {
from{
    left:200px;
    top:400px;
}
to{
    left:1650px;
    top:600px;
}
}

@keyframes fly1 {
    12%{background-image: url("./images/parrot1.png");}
    25%{background-image: url("./images/parrot2.png");}
    37%{background-image: url("./images/parrot3.png");}
    50%{background-image: url("./images/parrot4.png");}
    62%{background-image: url("./images/parrot5.png");}
    75%{background-image: url("./images/parrot6.png");}
    87%{background-image: url("./images/parrot7.png");}
    100%{background-image: url("./images/parrot8.png");}
}

@keyframes fly2 {
    14%{background-image: url("./images/p1.png");}
    28%{background-image: url("./images/p2.png");}
    42%{background-image: url("./images/p3.png");}
    56%{background-image: url("./images/p4.png");}
    70%{background-image: url("./images/p5.png");}
    84%{background-image: url("./images/p6.png");}
    100%{background-image: url("./images/p7.png");}
}

@keyframes fly3 {
    12%{background-image: url("./images/parrot11.png");}
    25%{background-image: url("./images/parrot22.png");}
    37%{background-image: url("./images/parrot33.png");}
    50%{background-image: url("./images/parrot44.png");}
    62%{background-image: url("./images/parrot55.png");}
    75%{background-image: url("./images/parrot66.png");}
    87%{background-image: url("./images/parrot77.png");}
    100%{background-image: url("./images/parrot88.png");}
}

@keyframes fly_serious {
    12%{background-image: url("./images/serious1.png");}
    25%{background-image: url("./images/serious2.png");}
    37%{background-image: url("./images/serious3.png");}
    50%{background-image: url("./images/serious4.png");}
    62%{background-image: url("./images/serious5.png");}
    75%{background-image: url("./images/serious6.png");}
    87%{background-image: url("./images/serious7.png");}
    100%{background-image: url("./images/serious8.png");}
}

@keyframes fly_raven {
    0%{background-image: url("./images/ravon2.png");}
    15%{background-image: url("./images/ravon3.png");}
    30%{background-image: url("./images/ravon4.png");}
    45%{background-image: url("./images/ravon5.png");}
    60%{background-image: url("./images/ravon6.png");}
    75%{background-image: url("./images/ravon7.png");}
    87%{background-image: url("./images/ravon8.png");}
    100%{background-image: url("./images/ravon9.png");}
}

@keyframes fly_red {
    0%{background-image: url("./images/red1.png");}
    15%{background-image: url("./images/red2.png");}
    30%{background-image: url("./images/red3.png");}
    45%{background-image: url("./images/red4.png");}
    60%{background-image: url("./images/red5.png");}
    75%{background-image: url("./images/red6.png");}
    87%{background-image: url("./images/red7.png");}
    100%{background-image: url("./images/red8.png");}
}



@keyframes bang {
    0%{
        background-image: url("./images/bang1.png");
    }
    25%{
        background-image: url("./images/bang2.png");
    }
    50%{
        background-image: url("./images/bang3.png");
    }
    100%{
        background-image: url("./images/bang4.png");
    }
}